
<section class="order-show">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Total Products</h4>
    </div>
    <div class="panel-footer"><h3><%= @products %></h3></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
    <h4>Total Categories</h4>
    </div>
    <div class="panel-footer"><h3><%= @categories %></h3></div>
  </div>
</section>